.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-title {
    font-size: 2rem;
    color: #ff6f61;
    margin-bottom: 20px;
  }
  
  form input select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form input:focus {
    border-color: #ff6f61;
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #e65a50;
  }
  