.qr-scan {
    background-image: url('../../../src/assets/Images/scan.png');
  }

.create-opera {
    background-image: url('../../../src/assets/Images/operator.png');
  }

.station-name{
  margin-top: 2%;
  color: #ff6b6b;
  font-weight: bolder;
}