.card {
    width: 300px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2%;

  }

.register {
  background-image: url('../../../src/assets/Images/register.jpg');
}

.fuel-quota {
  background-image: url('../../../src/assets/Images/fuel.jpg');
}

.logs {
  background-image: url('../../../src/assets/Images/logs.jpg');
}
  
  .card-content {
    background-color: rgba(0, 0, 0, 0.5); /* Overlay effect */
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .card h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .v-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 2%;
  }
  
  .fuel-ava{
    margin: 2%;
  }

  .fuel-ava {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Vertically centers the items */
    gap: 5%;
    cursor: pointer;
    padding: 0 10%; /* Remove unnecessary padding values */
    margin-top: 1%;
  }