.styled-header {
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    width: 100%;
    padding: 10px 12px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav_logo {
    padding: 0 12px;
  }
  
  .nav-logo-link {
    text-decoration: none;
    font-size: 24px;
    color: #fab005;
    font-weight: bold;
  }
  
  .menuToggleBtn {
    display: none;
    color: white;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-menu li:hover {
    cursor: pointer;
    background: #44a8f4;
    border-radius: 4px;
  }
  
  .nav-menu-list {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px;
  }
  
  @media screen and (max-width: 768px) {
    .styled-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menuToggleBtn {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 5px;
    }
  
    .nav-menu.open {
      display: block;
    }
  }
  